<nav id="main-nav">
    <ul id="nav-primary">
        <li><a href="#">Mobile</a>
            <ul class="subnav">
                <li><a href="#">Blue tooth</a>
                </li>
            </ul>
        </li>
        <li><a href="#">Git Hub</a>
            <ul class="subnav">
                <li><a href="#">Get user list</a>
                </li>
                <li><a href="#">Search Repository</a>
                </li>
            </ul>
        </li>
        <li><a href="#">Contact us</a>
        </li>
    </ul>
</nav>