
<ul class="nav nav-tabs">
    <li class="active home-menu"><a ui-sref="dashboard">Home</a></li>
    <li class="active dropdown git-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" >Sample<!--<span class="caret"></span>--></a>
        <ul class="dropdown-menu submenu">
            <li><a href="#">Get Users</a></li>
            <li ><a class="submenu" href="#">Get Project By User</a></li>
            <li class="submenu"><a ui-sref="contact">Contacts</a></li>
        </ul>
    </li>
    <li class="active"><a href="#">Bluetooth</a></li>
    <li class="active"><a href="#/login">Log out</a></li>
</ul>